body {
  /* font-family: "Montserrat", sans-serif !important; */
  /* font-weight: 500; */
  color: #222 !important;
}

.sidebarToggle {
  position: absolute;
  bottom: 0px;
}

.nav-item::before {
  content: "";
  transition: all 0.3s;
  background-color: #f7e5e9;
  height: calc(100% - 10px);
  width: calc(100% - 5px);
  position: absolute;
  top: 5px;
  left: 0px;
  opacity: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nav-item:hover::before {
  opacity: 1;
}

.active.nav-item::before {
  opacity: 1;
}

.collapse-item {
  border-radius: 15px !important;
  transition: all 0.3s;
}
.collapse-item:hover {
  background-color: #f7e5e9 !important;
}
.collapse-item.active {
  background-color: #f7e5e9 !important;
}
.collapse-item.active {
  color: #db3730 !important;
}

.nav-link {
  position: relative;
}

.nav-link span {
  /* font-size: 18px !important; */
  font-weight: bold;
}
.nav-link.active {
  color: #db3730 !important;
}
.nav-link.active .link-text {
  color: #db3730 !important;
}

.no-hover:hover::before {
  background-color: white !important;
}

.page-title {
  font-weight: 600;
}

#sidebarToggle::after {
  display: none;
}

.table-data {
  font-size: 14px !important;
}

.buttons-tab {
  position: absolute;
  top: 20px;
  right: 20px;
}

.muted {
  pointer-events: none;
  opacity: 0.5;
}

#root {
  min-height: 100vh;
}

.main-cover {
  min-height: 100vh;
}

.bg-lsd {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.icon {
  cursor: pointer;
}

.modal {
  opacity: 0;
  pointer-events: none;
  /* display: none; */

  background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
  opacity: 1;
  pointer-events: all;
}

.modal-close-icon {
  right: 0px;
  z-index: 10;
}

.message-type {
  position: absolute;
  right: 0px;
  top: 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.rce-container-mbox {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.filter-option {
  height: 27px;
  font-size: 14px;
  cursor: pointer;
}

.date-bg-cover {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.date-card {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 15;
  overflow: hidden;
}

.btn-round {
  border-radius: 50px !important;
}

.sidebar {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
  width: 0px !important; /* Remove scrollbar space */
  background: transparent !important; /* Optional: just make scrollbar invisible */
}
.tb-cover {
  min-height: 60vh;
}

.loader {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #555;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  transition: all 1;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
}

.show-loader {
  transform: scale(1);
  opacity: 1;
  /* background-color: red; */
}

.search-icon {
  position: absolute;
  margin-left: 12px;
}
.table {
  border-radius: 10px;
}

.text-input {
  width: 350px;
}
/* 
.text-input[type="number"] {
  max-width: 200px;
} */

#content-wrapper {
  overflow: scroll;
  max-height: 100vh;
}

.avatar-lg {
  min-width: 95px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.avatar-lg .initials {
  font-size: 30px;
}

.tab-link {
  cursor: pointer;
  text-decoration: none !important;
}
.user-detail-title {
  min-width: 300px;
}

.item-detail-title {
  min-width: 150px;
}

.tab-link::after {
  content: "";
  bottom: 0px;
  width: 100%;
  background-color: #4e73df;
  height: 5px;
  position: absolute;
  left: 0px;
  opacity: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.active.tab-link::after {
  opacity: 1;
}

.tab-link::before {
  content: "";
  top: 0px;
  width: 100%;
  background-color: rgba(224, 224, 224, 0.3);
  height: 100%;
  position: absolute;
  left: 0px;
  z-index: 0;
  opacity: 0;
  transition: all 0.3s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.active.tab-link::before {
  opacity: 1;
}

.tab-link:hover::before {
  opacity: 1;
}

.tab-link span {
  z-index: 10;
  position: static;
}

.user-details {
  max-width: 700px;
}

td {
  color: #333;
}

th {
  color: #333;
}

.document-img {
  height: 250px;
}

.document-container {
}

.remove-document {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.id-card {
  height: 250px;
  width: 400px;
  border-radius: 10px;
  border: 1px dashed grey;
  cursor: pointer;
  position: relative;
}

.id-img {
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 100;
}

.map-card {
  overflow: hidden;
  height: 300px;
  width: 500px;
}

.collateral-card {
  border-radius: 7px;
  border: 1px solid #dedede;
  width: auto;
}

.trg-header {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: none;
}

.trg-header .title {
  font-size: 20px;
}

.opacity-0 {
  opacity: 0;
}

.client-status {
  text-decoration: none !important;
  transition: all 0.3s;
}

.client-status:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.empty-holder {
  position: absolute;
  top: 0px;
  left: 0px;
}

.backdrop {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3000;
  left: 0px;
  top: 0px;
}

.search-modal {
  width: 600px;
  position: relative;
}

.s-i {
  position: absolute;
}

.autocomplete {
  position: absolute;
  width: 100%;
  background-color: white;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #333;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.officer-search {
  min-height: 100px;
}

.officer-option {
  cursor: pointer;
}

.loan-tab {
  text-decoration: none !important;
}

.camera-tab {
  /* margin: 20px; */
  border: 1px dashed #999;
  height: 200px;
  width: 200px;
  overflow: hidden;
  /* margin-top: -80px; */
}

.react-html5-camera-photo > img,
.react-html5-camera-photo > video {
  width: 100% !important;
}

.passport-icon {
  position: absolute;
}
.camera-img {
  position: static;
  z-index: 1000;
}
.tab-cover {
  width: 100vw;
}

.display-error {
  max-width: 100%;
}

.display-error h1 {
  font-size: 25px;
  margin-top: 50px;
}

.kin-container {
  border: 1px dashed #dedede;
}

.places-modal {
  min-height: 400px;
}

.text-black {
  color: black !important;
}

.map-container {
  height: 500px;
}

.autocomplete-dropdown-container {
  z-index: 1000;
}

.map-marker {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50%;
  z-index: 1000;
  width: 40px;
  pointer-events: none;
}

.modal {
  overflow-y: scroll;
}
.main-logo {
  width: 150px;
}

.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 19px;
  height: 19px;
  margin: 1px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-input {
  padding-left: 35px !important;
}

.login-icon {
}

.wallpaper {
  background-image: url("../img/background.png") !important;
  background-size: 300px auto;
}

.preloader-container {
  position: relative;
  /* overflow-x: hidden !important; */
  min-height: 5px;
}

.table-container {
  overflow-x: scroll;
  overflow-y: hidden;
}

.tab-buttons {
  /* position: absolute; */
  right: 10px;
  margin-bottom: -40px;
  right: 0px;
  width: 600px;
}

.zone-search {
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
}
.avatar {
  position: absolute;
  width: 100%;
  height: 100%;
}

.guarantor-choose {
  width: 300px;
}

.bas {
  width: 170px;
}

.icon-holder {
  /* background-color: #ffc0cb40 !important; */
}

.login-card {
  border-radius: 15px;
}

.login-button {
  border-radius: 20px;
}

.link-text {
  font-size: 16px;
}

.intro-card {
  background-color: #f7e5e9 !important;
  border: 0px !important;
  border-radius: 15px;
  max-width: 950px;
}
.intro-title {
  color: #f75f6d;
}

.intro-img {
  margin-top: -60px;
  width: 140px;
}

.collapse {
  border-radius: 15px;
  border: 1px solid #ececec;
  overflow: hidden;
}

.brand-logo {
  width: 20px;
}

.sidebar-brand-text {
  color: #ec6532 !important;
}

.sidebar-wrapper {
  /* min-width: 250px; */
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid gray;
}

.bg-red {
  background-color: #f75f6d !important;
}

.table-card {
  border-radius: 15px;
}

.rounded {
  border-radius: 20px !important;
}

.action-icon {
  padding: 8px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.action-icon:hover {
  background-color: #dedede;
}
.action-icon.active {
  background-color: #dedede;
}

.profile-card {
  border-radius: 15px;
  position: absolute;
  z-index: 20;
  right: 0px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  transform: translateY(-30px);
  overflow: hidden;
  min-width: 200px;
}

.profile-card.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

.close-action {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
}

.no-wrap {
  white-space: nowrap;
}

.file-name-input {
  max-width: 200px;
}

.generate-csv-modal {
  min-height: 230px;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #4e73df;
  border-color: #4e73df transparent #4e73df transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.role-card {
  border-radius: 10px;
  overflow: hidden !important;
}

.group-name {
  font-weight: bold;
  font-size: 19px;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font-size: 13px;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #eaeaea;
  border-radius: 5px;
  overflow: hidden !important;
}
.styled-checkbox:hover + label:before {
  background: #888;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #4e73df;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

.role-update-button {
  position: fixed;
  bottom: 10px;
  right: 20px;
}
